<main class="flex flex-col items-center justify-center h-screen">
    <h1
        class="mb-10 text-8xl font-bold bg-gradient-to-r from-green-800 to-yellow-400 text-transparent bg-clip-text font-display leading-tight"
    >
        Coming Soon
    </h1>
    <small class="text-gray-500">© 2025 ふぉくしーど</small>
</main>
